(
    nodes: [
        (
            id: "0d2c3d12-c764-4091-8a4d-cd61992089a4",
            name: "FSM",
            inner: {
                "bevy_animation_graph::builtin_nodes::FsmNode": (
                    fsm: "fsm/human_character_controller_fsm.fsm.ron",
                ),
            },
            should_debug: false,
        ),
    ],
    edges_inverted: {
        OutputData("pose"): NodeData("0d2c3d12-c764-4091-8a4d-cd61992089a4", "pose"),
        OutputTime: NodeTime("0d2c3d12-c764-4091-8a4d-cd61992089a4"),
        NodeData("0d2c3d12-c764-4091-8a4d-cd61992089a4", "speedVec"): InputData(Passthrough("speedVec")),
        NodeData("0d2c3d12-c764-4091-8a4d-cd61992089a4", "speed"): InputData(Passthrough("speed")),
        NodeData("0d2c3d12-c764-4091-8a4d-cd61992089a4", "driver_events"): InputData(Passthrough("driver_events")),
    },
    io_spec: (
        input_times: [],
        input_data: {
            Passthrough("driver_events"): EventQueue,
            Passthrough("speed"): F32,
            Passthrough("speedVec"): Vec2,
        },
        output_time: true,
        output_data: {
            "pose": Pose,
        },
        input_order: {
            Data(Passthrough("speedVec")): 0,
            Data(Passthrough("speed")): 1,
            Data(Passthrough("driver_events")): 2,
        },
        output_order: {
            Data("pose"): 0,
            Time: 1,
        },
    ),
    default_data: {
        Passthrough("driver_events"): EventQueue((
            events: [],
        )),
    },
    editor_metadata: (
        node_positions: {
            "0d2c3d12-c764-4091-8a4d-cd61992089a4": (311.10468, 143.88486),
        },
        input_position: (31.625244, 149.91858),
        output_position: (571.33185, 152.84741),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)