(
    nodes: [
        (
            id: "46a7a5c1-e63c-4357-832a-139f9fc792a4",
            name: "New node",
            inner: {
                "bevy_animation_graph::builtin_nodes::ClipNode": (
                    clip: "animations/human_punch.anim.ron",
                    override_duration: None,
                    override_interpolation: None,
                ),
            },
            should_debug: false,
        ),
        (
            id: "70ed6a63-2a1d-4022-9685-d4da69c39aec",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::MapEventsNode": (
                    map_from: AnimationClipFinished,
                    map_to: TransitionToStateLabel("run"),
                ),
            },
            should_debug: false,
        ),
    ],
    edges_inverted: {
        OutputData("pose"): NodeData("46a7a5c1-e63c-4357-832a-139f9fc792a4", "pose"),
        OutputTime: NodeTime("46a7a5c1-e63c-4357-832a-139f9fc792a4"),
        NodeData("70ed6a63-2a1d-4022-9685-d4da69c39aec", "events"): NodeData("46a7a5c1-e63c-4357-832a-139f9fc792a4", "events"),
        OutputData("driver_events"): NodeData("70ed6a63-2a1d-4022-9685-d4da69c39aec", "events"),
    },
    io_spec: (
        input_times: [],
        input_data: {},
        output_time: true,
        output_data: {
            "pose": Pose,
            "driver_events": EventQueue,
        },
        input_order: {},
        output_order: {
            Data("pose"): 0,
            Time: 2,
            Data("driver_events"): 1,
        },
    ),
    default_data: {},
    editor_metadata: (
        node_positions: {
            "46a7a5c1-e63c-4357-832a-139f9fc792a4": (64.84009, 34.85074),
            "70ed6a63-2a1d-4022-9685-d4da69c39aec": (350.33594, -5.9492188),
        },
        input_position: (-89.31064, 191.67136),
        output_position: (630.3521, 232.04947),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)