(
    nodes: [
        (
            id: "6c60cd15-f9b0-45ac-9e47-44e52350564e",
            name: "",
            inner: {
                "bevy_animation_graph::builtin_nodes::FsmNode": (
                    fsm: "fsm/punch_fsm.fsm.ron",
                ),
            },
            should_debug: false,
        ),
    ],
    edges_inverted: {
        OutputData("pose"): NodeData("6c60cd15-f9b0-45ac-9e47-44e52350564e", "pose"),
        NodeData("6c60cd15-f9b0-45ac-9e47-44e52350564e", "driver_events"): InputData(Passthrough("user_events")),
        OutputTime: NodeTime("6c60cd15-f9b0-45ac-9e47-44e52350564e"),
    },
    io_spec: (
        input_times: [],
        input_data: {
            Passthrough("user_events"): EventQueue,
        },
        output_time: true,
        output_data: {
            "pose": Pose,
        },
        input_order: {
            Data(Passthrough("user_events")): 0,
        },
        output_order: {
            Time: 0,
            Data("pose"): 1,
        },
    ),
    default_data: {},
    editor_metadata: (
        node_positions: {
            "6c60cd15-f9b0-45ac-9e47-44e52350564e": (60.566406, 155.70703),
        },
        input_position: (-105.02344, 162.41797),
        output_position: (268.03125, 155.86719),
        input_param_order: {},
        input_time_order: {},
        output_data_order: {},
        output_pose_order: {},
    ),
)