(
    states: [
        (
            id: "e79f43d3-5dea-49ce-bd3e-8429065b3de2",
            label: "run",
            graph: "animation_graphs/human_simple.animgraph.ron",
            state_transition: None,
        ),
        (
            id: "b9db3150-1497-4124-906e-74d8aa7b59c2",
            label: "punch",
            graph: "animation_graphs/human_simple_punch.animgraph.ron",
            state_transition: None,
        ),
    ],
    transitions: [
        (
            id: "5c02e58e-4e48-4522-ac30-d60ffb471196",
            source: "e79f43d3-5dea-49ce-bd3e-8429065b3de2",
            target: "b9db3150-1497-4124-906e-74d8aa7b59c2",
            data: (
                kind: Immediate,
                ignore_external_events: false,
                reset_target_state: true,
            ),
        ),
        (
            id: "5532a9d2-8b1e-4f86-a98b-1bc6d3278f72",
            source: "b9db3150-1497-4124-906e-74d8aa7b59c2",
            target: "e79f43d3-5dea-49ce-bd3e-8429065b3de2",
            data: (
                kind: Immediate,
                ignore_external_events: true,
                reset_target_state: false,
            ),
        ),
    ],
    start_state: "e79f43d3-5dea-49ce-bd3e-8429065b3de2",
    node_spec: (
        input_times: [],
        input_data: {},
        output_time: true,
        output_data: {
            "pose": Pose,
        },
        input_order: {},
        output_order: {
            Time: 0,
            Data("pose"): 1,
        },
    ),
    editor_metadata: (
        states: {
            "e79f43d3-5dea-49ce-bd3e-8429065b3de2": (-297.88937, -112.93829),
            "b9db3150-1497-4124-906e-74d8aa7b59c2": (-86.71753, -111.817474),
        },
    ),
)